/*body {
    background-color: thistle;
    
}
h1 {
    background-color: rgb(209, 227, 236);
    color: rgb(241, 160, 93);
    font-style: italic;
    text-align: center;
    align-content: center;
    padding: 20px;
}*/

header{
    background-color: white;
    border-bottom: 2px solid black;
    position: fixed;
    top: 0px;
    width: 100%;    
    z-index: 1;
}

body{
    margin: 0px 0px;
    background-color: lightgray;
}

a{
    text-decoration: none;

}

a:link, a:visited{
    color: black;

}

a:hover{
    color: grey;
}

a:active{
    color: cornflowerblue;
}

#logo{
    width: 200px;
}

#img{
    object-fit: cover;
    width: 100vw;
    height: 50vw;
}

#portrait{
    object-fit: cover;
    width: 260px;
    height: 100%;
    margin-top: 50px;
}

#bg-image{
    margin-top: 80px;
    background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--8caaw1hY--/c_imagga_scale,f_auto,fl_progressive,h_1080,q_auto,w_1080/https://dev-to-uploads.s3.amazonaws.com/i/k5dp029baand3ni510db.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bg-image h1{
    margin-top: 0px;
    color: white;
    text-align: center;
    position: relative;
    top: 20px;
}

ul{
    display: inline;
    margin: 0px;
    padding: 0px;
}

li{
    font-family: sans-serif;
    list-style: none;
    display: inline;
    position: relative;
    top: -40px;
    margin-left: 20px;
    margin-bottom: 20px;

}

p{
    font-family: 'Times New Roman', Times, serif;
}

article{
    padding: 20px 50px;
    margin-bottom: 40px;
}