/*body {
    background-color: thistle;
    
}
h1 {
    background-color: rgb(209, 227, 236);
    color: rgb(241, 160, 93);
    font-style: italic;
    text-align: center;
    align-content: center;
    padding: 20px;
}*/

header{
    background-color: white;
    border-bottom: 2px solid black;
}

body{
    margin: 0px 0px;
    background-color: lightgray;
}

a{
    text-decoration: none;

}

a:link, a:visited{
    color: black;

}

a:hover{
    color: grey;
}

a:active{
    color: cornflowerblue;
}

#logo{
    width: 200px;
}

#img{
    object-fit: cover;
    width: 100vw;
    height: 50vw;
}

#portrait{
    object-fit: cover;
    width: 260px;
    height: 100%;
    margin-top: 50px;
}

ul{
    display: inline;
    margin: 0px;
    padding: 0px;
}

li{
    font-family: sans-serif;
    list-style: none;
    display: inline;
    position: relative;
    top: -40px;
    margin-left: 20px;
    margin-bottom: 20px;

}

p{
    font-family: fantasy;
}
