.flex-container {
    margin: auto;
    display: flex;
    justify-content: space-around;
}


.text {
    text-align: center;
}

h1{
    color: #2196f3;
}

.icon {
    width: 25px;
    height: 25px;
    font-size: 25px;
    text-align: center;
    color: #2196f3;
    padding: 8px;
    border: 2px solid #2196f3;
    border-radius: 50%;
    transition: 0.2s;

}

.icon-text {
    display: block;
    text-align: center;
}

.container-item a {
    text-align: center;
    text-decoration: none;
    color: #2196f3;
}

.container-item .icon:hover {
    color: white;
    background-color: #2196f3;
    transition: 0.2s;

}

#cover-image{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwOfuTAJ6ImkRWMX0LcF3FADGBD7z0Fpj0j-mWebpfOCokFfnkua4lq5aE6KvhxL2DJ2U&usqp=CAU");
}

#profile-image{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Albert_Einstein_Head.jpg/1536px-Albert_Einstein_Head.jpg");

}