body{
    background-color: lightgray;
}

.title{
    font-weight: 900px;
    text-align: center;
}

.price{
    font-size: 15px;
    text-align: center;
}

.img{
    padding-bottom: 30px;
    margin: auto;
    content: url("https://fakestoreapi.com/img/81Zt42ioCgL._AC_SX679_.jpg");
    width: 200px;
}

.product{
    padding: 20px;
    border: black solid 4px;
    border-radius: 10%;
    font-family: Poppins, sans-serif;
    width: 200px;
    margin: auto;
}

button{
    display: block;
    margin: 10px auto;
}