body {
    font-family: Poppins, sans-serif;
    margin: 0px;
    background-color: lightgray;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.singel_file {
    color: black;
    text-decoration: none;
    display: block;
}

.singel_file:hover {
    color: navy;
    cursor: pointer;
}

#files {
    display: flex;
}

.path{
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    padding-bottom: 40px;
}